@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';

@theme{
    --font-karla: 'Karla';
    --font-markazi: "Markazi Text";
    --color-green-primary: #495E57;
    --color-yellow-primary: #F4CE14;
    --color-white-primary: #EDEFEE;
    --text-2xl=
}

@layer base{
    h1{
        @apply font-markazi text-3xl md:text-7xl text-yellow-primary;
    }
    h2{
        @apply font-markazi text-xl md:text-5xl text-white-primary;
    }
    p{
        @apply font-karla text-sm md:text-lg text-white-primary;
    }

}

@layer components{
    .navlinks{
        @apply font-karla text-[18px] 
        px-4 py-2 rounded-2xl
        active:bg-white-primary active:text-black
         md:active:bg-green-primary md:active:text-white duration-250
         md:hover:bg-green-primary md:hover:text-white  md:hover:transition-colors  md:hover:scale-105 md:active:scale-100 duration-250
    }
    .primarybutton{
        @apply bg-yellow-primary md:text-lg font-medium text-black 
        px-2 md:px-6 md:py-1 mb-10 rounded-2xl shadow-md shadow-gray-800
        md:hover:scale-105 duration-250 md:active:scale-100
        active:scale-95
    }
}